# Git Configurations
```
git config --global user.name JohnDoe                   # config user name
git config --global user.email johndoe@example.com      # config user email
git config --global core.editor vim                     # config editor
git config --global init.defaultBranch main             # config default branch
git config --global credential.helper store             # save credentials using Linux
git config --global credential.helper wincred           # save credentials using Windows
git remote add origin https://github.com/user/repo.git  # add remote origin

## command alias setting
git config --global alias.cm "commit -m"
git config --global alias.cb "checkout -b"
git config --global alias.last "log -1 HEAD"
```
